/* GENERAL */

body {
    margin: 0;
    padding: 0;
    display: flex;
    /*background-color: #1a2541;*/
    background-color: #343a40;
}

aside 
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #00c4a7;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
}


aside nav,ul, li
{
    flex-direction: column;
    margin:0;
    padding:0;
    display: flex;
}

aside li
{
    align-items: center;
    justify-items: center;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin:2vh;
}

aside a
{
    color:white;
    font-size: 2.6vw;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
}

aside a:hover 
{
    color: #006B5B;
    transition: 0.3s ease-out;
}

.en-cours 
{
    color: #006B5B;
}


main
{
    margin-left:25vw;
    margin-right: 5vw;
}


h1 
{
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 8vh;
    margin-bottom: 0;
    margin-top: 5vh;
    display: flex;
}

h2 
{
    color: #D1A54C;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 1vh;
    margin-bottom: 10vh;
    display: flex;
    font-size: 2.8vw;
    text-transform: uppercase;
    text-align:center;
    align-self:center;
    justify-content:center;
    justify-items:center;
}

h3 
{
    color: #00c4a7;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 2.2vw;
    margin: 0;
    display: flex;
    font-weight: bold;
}

.circle 
{
    float: left;
    width: 130px;
    height: 130px;
    margin: 0px;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
    background: #006B5B;
}

.item 
{
    display:flex;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:15px;
}

.infos
{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

a
{
    color:black;
    text-decoration: none;
}

.container 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
    align-content:flex-start;
    align-items:flex-start;
}

p
{
    display: flex;
}

/*A PROPOS*/

#a-propos, #contact{
    justify-content:center;
    align-items:center;
    align-content:center;
}

#profil {
    border-radius: 50%;
    max-width: 30vh;
    border: 4px solid #D1A54C;
    padding: 5px;
}

#sous-titre
{
    color:#338ACC;
    font-family: 'Saira Condensed', sans-serif;
    font-size:3.5vh;
    font-style: italic;
}

strong
{
    color:rgb(64, 66, 73);
    font-family: 'Saira Condensed', sans-serif;
    font-size:3.1vh;
    font-style: italic;
    margin:0;
}

.logos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top:5vh;
    align-content: center;
}

.logos img
{
    height: 8vh;
    margin-left:1vw;
    margin-right:1vw;
    transition: all 0.4s ease;
}

.logos img:hover
{
    transform: scale(1.2);
    transition: transform 0.4s ease-out;
}

/*EXPERIENCES + FORMATIONS */

.organisme
{
    color:white;
    font-family: 'Saira Condensed', sans-serif;
    font-weight:bold;
    font-size:3.4vh;
    margin:0;
}

.description
{
    color:white;
    font-family: 'Saira Condensed', sans-serif;
    font-size:3vh;
    margin:0;
}

/*REALISATIONS*/
.realisations
{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-evenly;
    align-content: space-between;
    margin:20px;
}

.bloc
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    max-width:35vw;
    margin:10px;
    padding:5px;
}

figcaption
{
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    color:white;
}

.bloc img 
{
    /*border: 4px solid #D1A54C;*/
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    transition: all 0.4s ease;
}

.bloc img:hover
{
    /*box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);*/
    transform: scale(1.1);
    filter:none;
    transition: transform 0.4s ease-out;
}

/*COMPETENCES*/

#competences .item {
    width: 47%;
}

.sous-container {
    display: flex;
    flex-wrap: wrap;
}

/*VERSION MOBILE*/

@media only screen and (max-width:768px)
{
    body
    {
        display: flex;
        flex-direction: column;
    }

    aside {
        flex-direction: row;
        width: 100vw;
        height: 10vh;
        top: 0;
        position: fixed;
        z-index: 1000;
    }

    aside a
    {
        font-size: 2vh;
    }

    nav li
    {
        margin:1.5vw;
    }

    nav ul
    {
        flex-direction: row;
    }

    main
    {
        margin:2vh;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .container
    {
        align-content: center;
        align-items:center;
        height:95vh;
    }

    p, h1, h2, h3
    {
        text-align: center;
    }

    p
    {
        font-size: 1.9vh;
    }

    h1 {
        font-size: 5.6vh;
        margin-bottom: 0.5vh;
        margin-top: 2vh;
    }

    h2
    {
        font-size:3.9vh;
        margin-top:0.5vh;
        margin-bottom: 0.5vh;
    }

    h3
    {
        font-size:3.2vh;
        margin:0;
    }


    /*A PROPOS*/

    #profil
    {
        max-width: 100vw;
    }

    #sous-titre
    {
        font-size:3.2vh;
    }

    strong
    {
        font-size:2.8vh;
        margin:0;
    }

    .logos img {
        height: 7vh;
        margin-left: 1.5vh;
        margin-right: 1.5vh;
    }

    /*EXPERIENCES + FORMATIONS */

    .circle 
    {
        width: 40px;
        height:40px;
    }

    .organisme
    {
        font-size:2.4vh;
        margin:0;
    }

    .description
    {
        font-size:2vh;
        margin:0;
    }

    /*COMPETENCES*/

    #competences .item {
        width: 100%;
    }

    .sous-container {
        display: flex;
        flex-wrap: wrap;
    }

    /*REALISATIONS*/
    
    .bloc
    {
        max-width:60vw;
        margin:20px;
        padding:5px;
    }


    .bloc img
    {
        padding: 5px; 
        width: 60vw; 
    }
}
